extends layout

block content
	h1=title
	ul.errors
		if errors
			each error, i in errors
				li.alert.alert-danger #{error.msg}
	form(method='post', action='/details/add')
		.form-group
			label Add Category:
			input.form-control(name='category', type='text')
			br
			label Add Author:
			input.form-control(name='author', type='text')
		input.btn.btn-default(name='submit',type='submit',value='Save')